<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="parallax"></div>

<div class="block-1">
    <span class="img1"></span>
    <span class="img2"></span>
    <span clas="img3"></span>
</div>
<div class="row">
  <div class="column">
    <img src="img1.png" alt="dream" style="width:100%">
      <div class="overlay">
    <div class="text">Dream</div>
  </div>
  </div>
  <div class="column">
    <img src="img2.png" alt="design" style="width:100%">
      <div class="overlay">
    <div class="text">Design</div>
  </div>
  </div>
  <div class="column">
    <img src="img3.png" alt="deliver" style="width:100%">
      <div class="overlay">
    <div class="text">Deliver</div>
  </div>
  </div>
</div>
</body>
</html>
