<!DOCTYPE html>
<html lang="en">
<head>
    <title>Person</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
</head>
<body style="background-color:black">
<section class="bg-1 text-center">
     <h1 class="" style="font-size: 60px">Personal Electric</h1>
    <img style="width:20%"src="ashwalogo.png">
</section>
<!--/parallax 1-->
<div style="background: black" class="row" >
  <div class="col-md-4">
    <img src="img1.png" alt="dream" style="width:100%">
    <div class="overlay">
        <div class="text">Dream</div>
    </div>
  </div>
  <div class="col-md-4">
    <img src="img2.png" alt="design" style="width:100%">
    <div class="overlay">
        <div class="text">Design</div>
    </div>
  </div>
  <div class="col-md-4">
    <img src="img3.png" alt="deliver" style="width:100%">
    <div class="overlay">
        <div class="text" style="text-align: center">Deliver</div>
    </div>
  </div>
</div>
    <div class="divider"></div> 
    <div class="divider"></div> 
<div style="background: black" class="container">
    <hr class="">
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class=""></h3>

                </div>
                <div class="panel-body" style="text-align: center;font-size: 30px;background-color:black;color: white">We are a <br>Mobility <br>Organization.</div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class=""></h3>

                </div>
                <div class="panel-body" style="background-color:black;color: white;font-size: 15.5px;">We contest in Formula Student Competitions.<br>
                                        Formula Student is an international design
                                        challenge where university students design
                                        and manufacture prototype race cars to
                                        compete in international events.<br><br>
                                        Prototypes are evaluated as a production item
                                        on speed & reliability, design &
                                        construction, and business strategy.</div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class=""></h3>

                </div>
                <div class="panel-body" style="background-color:black;color: white;text-align: center;font-size: 25px">Over 1,000
                                                                                    companies
                                                                                    invest in Formula
                                                                                    Student, funding
                                                                                    nearly $1.7 billion.
                </div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>

                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <hr class="">
</div>
<!--/container-->
<div class="divider"></div> 
<section class="bg-2">
           <div class="container">
  <div class="card-deck">
    <div class="card " style="border-width:2px;border-color:azure">
      <div class="card-body text-center" >
        <p class="card-text">Some text inside the first card</p>
        <p class="card-text">Some more text to increase the height</p>
        <p class="card-text">Some more text to increase the height</p>
        <p class="card-text">Some more text to increase the height</p>
      </div>
    </div>
    <div class="card" style="border-width:2px;border-color:azure">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card" style="border-width:2px;border-color:azure">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card" style="border-width:2px;border-color:azure">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>  
  </div>
</div>
</section>
<div class="divider"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Hello.</h3>

                </div>
                <div class="panel-body"></div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Hello.</h3>

                </div>
                <div class="panel-body"></div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3 class="">Hello.</h3>

                </div>
                <div class="panel-body"></div>
                <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/container-->
<div class="divider"></div>
<!--parallax 2 -->
<section class="bg-3 text-center">
     <h1 class="">Parallax 3</h1>

    <p class="lead"></p>
</section>
<!--/parallax 2-->
<script>
(function($) {
 
    $.fn.parallax = function(options) {
 
        var windowHeight = $(window).height();
 
        // Establish default settings
        var settings = $.extend({
            speed        : 0.15
        }, options);
 
        // Iterate over each object in collection
        return this.each( function() {
 
        	// Save a reference to the element
        	var $this = $(this);
 
        	// Set up Scroll Handler
        	$(document).scroll(function(){
 
    		        var scrollTop = $(window).scrollTop();
            	        var offset = $this.offset().top;
            	        var height = $this.outerHeight();
 
    		// Check if above or below viewport
			if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
				return;
			}
 
			var yBgPosition = Math.round((offset - scrollTop) * settings.speed);
 
                 // Apply the Y Background Position to Set the Parallax Effect
    			$this.css('background-position', 'center ' + yBgPosition + 'px');
                
        	});
        });
    }
}(jQuery));

$('.bg-1,.bg-3').parallax({
	speed :	0.15
});

$('.bg-2').parallax({
	speed :	0.25
});    
</script>
</body>
</html>