body{
    background:black;
}
.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('/assets/example/bg_blueplane.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #101010;
}

.col-md-4:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 3vw;
  position: absolute;
    top:50%;
    font-family: sans-serif;
    right: 38%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.bg-2 {
	background: url('/assets/example/bg_suburb.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
	background: url('/assets/example/bg_blueplane.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}


